

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.thumbnail>img, .thumbnail a>img {
    height: 200px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}













