    <div class="container" ng-controller="CityController">
        <h2>Cities {{cities.length}}</h2>
        <div class="row">
            <div class="col-md-4 thumbnail">
                <label for="CitySearch">Search for city:</label>
                <input class="form-control" type="text" name="CitySearch" ng-model="cityQuery" id="CitySearch">
            </div>
        </div>
        <div class="row" >
            <div class="col-md-4 thumbnail" ng-repeat="city in cities | filter:cityQuery | limitTo:quantity ">
                <a ng-href="#city/{{city._id}}"> <h3>{{city.name}}</h3></a>
                <!-- <a ng-href="#product/{{product.SKU}}" class="thumb"><img ng-src="img/{{product.img}}" ng-if="product.enabled == 1"></a>
                <p>Kaina : {{product.price | currency:"":2}} €</p>
                <p>Liko Laiko   <timer timer-start end-time=EndTime >{{minutes}} minutes, {{seconds}} sekundes.</timer>                
                <p><a class="btn btn-default" href="#product/{{product.SKU}}" role="button">Plačiau</a></p> -->
            </div>
        </div>
    </div>


