<div class="container" ng-controller="WeatherDetailCtrl">
  <h2>{{weatherInfo.name}}, {{weatherInfo.sys.country}}</h2>
  {{weatherInfo}}
      <div class="row" >
       <!--  <div class="col-md-4 thumbnail">
            <a ng-href="country/{{country.country}}"><h3>{{country.name}}</h3></a>
            <a ng-href="#product/{{product.SKU}}" class="thumb"><img ng-src="img/{{product.img}}" ng-if="product.enabled == 1"></a>
            <p>Kaina : {{product.price | currency:"":2}} €</p>
            <p>Liko Laiko   <timer timer-start end-time=EndTime >{{minutes}} minutes, {{seconds}} sekundes.</timer>                
            <p><a class="btn btn-default" href="#product/{{product.SKU}}" role="button">Plačiau</a></p>
        </div> -->
    </div> 

</div>
