<div class="container" ng-controller="ProductDetailCtrl">

    <div class="row" >
        <div class="col-md-4 thumbnail" ng-repeat="product in products" >
            <a href="#product/{{product.SKU}}"> <h3>{{product.title}}</h3></a>
            <a href="#product/{{product.SKU}}" class="thumb"><img ng-src="img/{{product.img}}"></a>
            <p>Kaina : {{product.price | currency:"":2}} €</p>

            <p ng-if="product.enabled == 1">Liko Laiko   <timer timer-start end-time=EndTime >{{minutes}} minutes, {{seconds}} sekundes.</timer>

                <!--<button ng-click="startTimer()" >Start Timer</button>-->
                <!--<button ng-click="stopTimer()" >Stop Timer</button></p>-->
        </div>
    </div>
</div>